@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Outfit:wght@300;400;600&family=Roboto:wght@300;500;700&family=Rubik:wght@400;500;700&family=Vujahday+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  @apply text-2xl md:text-3xl font-bold  text-center text-zinc-600;
}
.nav-link {
  @apply md:text-lg transition duration-200 ease-linear rounded-full px-3 text-zinc-600 hover:rounded-full hover:shadow-md;
}

.card {
  @apply p-4 shadow-md rounded-xl  flex flex-col items-center hover:shadow-xl transition duration-300 cursor-pointer;
}

.input {
  @apply bg-transparent block text-zinc-600 outline-none border-2 border-zinc-300 rounded-md px-2 py-1 mt-1 w-full;
}

.btn {
  @apply sm:w-44 px-4 py-2 shadow-md rounded-md active:translate-y-1 text-zinc-600 hover:text-emerald-700 disabled:opacity-50;
}
.grid-card {
  @apply grid gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-4;
}

.area-board {
  @apply p-4 outline-none w-full h-80 mt-4 shadow-inner bg-zinc-200 rounded-lg text-zinc-600;
}
